GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
PORT=3001
FINNHUB_API_KEY=your_finnhub_key_here
FINNHUB_API_KEY_2=your_finnhub_key_2_here
FINNHUB_API_KEY_3=your_finnhub_key_3_here
GEMINI_API_KEY=your_gemini_key_here
GEMINI_API_KEY_2=your_gemini_key_2_here
GEMINI_API_KEY_3=your_gemini_key_3_here
NEWSAPI_KEY=your_newsapi_key_here
ADMIN_SECRET=your_admin_secret_here
